//=====================================================
header {
  padding: 29px 0px 33px 0px;
  background-color: #fff;
}
//=====================================================
// вставить все классы из html -> выделить всё в html -> ctrl+alt+1 (кратко) или 2 (развернуто) -> вставить в css
.header-top {
  // миксин из style.scss сразу для разных браузеров
  @include flexbox();
  // разброс в разные стороны
  justify-content: space-between;
}
.header-top-lang {
  @include flexbox();
}
.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
  font-family: Bebas;
  letter-spacing: 1px;
  padding: 0px 4px;
  margin: 0px 10px 0px 0px;
  &.active {
    background-color: #000000;
    color: #fff;
  }
}
.header-top__link {
  @fontfamily2;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;
  color: #000;
}
.header-bottom {
}
.header-bottom__column {
}
.header-bottom-menu {
}
.header-bottom-menu-list {
}
.header-bottom-menu__link {
}
.header-logo {
}
.header-logo__text {
}
.header-logo__image {
}

//=====================================================

// .header-menu__icon {
//   display: block;
//   position: absolute;
//   top: 18px;
//   right: 10px;
//   width: 30px;
//   height: 18px;
//   cursor: pointer;
//   z-index: 5;
//   span {
//     @include anim(0.3s, 0s);
//     top: 8px;
//     left: 0;
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     background-color: #000;
//     &:first-child {
//       top: 0;
//     }
//     &:last-child {
//       top: auto;
//       bottom: 0;
//     }
//   }
//   &:active {
//     span {
//       @include scale(0);
//       &:first-child {
//         @include rotate(-45deg);
//         top: 8px;
//       }
//       &:last-child {
//         @include rotate(45deg);
//         bottom: 8px;
//       }
//     }
//   }
// }
