//<(style.scss)ФАЙЛ ВСЕХ СТИЛЕЙ (ОБЪЕДИНЕНИЕ) + СДАНДАРТНЫЕ НАСТРОЙКИ>===============

// <МИКСИНЫ>==========================================================================
@mixin anim($time, $delay) {
  -webkit-transition: all $time ease $delay;
  -moz-transition: all $time ease $delay;
  -ms-transition: all $time ease $delay;
  -o-transition: all $time ease $delay;
  transition: all $time ease $delay;
}
@mixin anim_cubic($time, $delay) {
  -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin scale($num) {
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -webkit-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}
@mixin skew($num) {
  -webkit-transform: skewX($num);
  -moz-transform: skewX($num);
  -ms-transform: skewX($num);
  -o-transform: skewX($num);
  transform: skewX($num);
}
@mixin cnt($h) {
  display: flex;
  flex-direction: column;
  height: $h;
  text-align: center;
  align-items: stretch;
  justify-content: center;
}
@mixin tr($x, $y, $z) {
  transform: translate3d($x, $y, $z);
}
// изначально убирает все текста (font-size: 0), убирает все "фантомные отступы блоков"
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@mixin flexorder($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
// </МИКСИНЫ>==========================================================================

// <ШРИФТЫ>==========================================================================

// <Подключаем шрифты>
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.eot");
  src: local("☺"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"),
    url("../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"),
    url("../fonts/AkzidenzGroteskBQ-BdCnd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasRegular.eot");
  src: local("☺"), url("../fonts/BebasRegular.woff") format("woff"),
    url("../fonts/BebasRegular.ttf") format("truetype"),
    url("../fonts/BebasRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
// // font-display: swap;
// // </Подключаем шрифты>

// <ШРИФТ ПО УМОЛЧАНИЮ>
$fontfamily: "PT Sans";
$fontfamily1: "Bebas";
$fontfamily2: "AkzidenzGroteskBQ-BdCnd";
// </ШРИФТ ПО УМОЛЧАНИЮ>
// </ШРИФТЫ>==========================================================================

// <ПЕРЕМЕННЫЕ>========================================================================
$minwidth: 320px;
// размер цент области
$mw: 880;
$md1: $mw + 12;
// до бургера
// $md2: 992.98;
$md2: 767.98;
$md3: 767.98;
$md4: 479.98;
// </ПЕРЕМЕННЫЕ>=====================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: $minwidth;
  position: relative;
  width: 100%;
  color: #000;
}
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: $fontfamily;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
  }
}
input,
button,
textarea {
  font-family: $fontfamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
// a:hover {
// 	text-decoration: none;
// }
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
// -webkit-overflow-scrolling: touch;
// animation-play-state: paused !importal;
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================

//<ОБОЛОЧКА>==========================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  // &.loader{
  // }
}
//</ОБОЛОЧКА>=========================================================================

//<ОСНОВНАЯ СЕТКА>=====================================================================
// Брекпоинт - точка в которой идет переход от одной ширины к другой.
// Здесь настроена основная сетка с помощь переменных и заготовленых пераметров. При ширине 880 + 12 срабатывает 1 брейкпоинт. Стандартно 1й брейк на 970px а здесь он уже на 880px
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  // можно пропустить так как ширина 880
  // @media (max-width: $md1+px) {
  //   max-width: 970px;
  // }
  // ширина container на 1ом брейк станет 767
  @media (max-width: $md1+px) {
    max-width: 767px;
  }
  // при 768 будет схлоп в бургер
  @media (max-width: $md2+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>=====================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>======================================
// @import "datepicker.scss";
// @import "popover.min.scss";
// @import "baguetteBox.scss";
// @import "pagging.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>=====================================

//<ОСНОВНОЙ БЛОК>=======================================================================

//<ПЕРВЫЙ БЛОК(private)>================================================================

.private {
  @include flexbox();
  background-color: #000;
  margin: 0px 0px 75px 0px;
  @media (max-width: $md2+px) {
    margin: 0px 0px 40px 0px;
  }
}

.private__column {
  flex: 0 0 50%;
  @media (max-width: $md2+px) {
    flex: 1 1 100%;
    &:first-child {
      display: none;
    }
  }
}
// так как картинка контентная, и часто будет меняться то замена её через css будет не удобна (напр. background). распологаем через html и применяем класс ibg.
// IBG (класс от фри.по.жиз.) - этот класс, через JS, обраб картинку, которая находиться внутри оболочки с этим классом, и делает её фоном, при этом сама картинка в html (можно из кода менять картинку, устанавливать позиционирование css по макету)
.private__image {
  height: 100%;
}
.private-body {
  padding: 75px 20px 75px 60px;
  @media (max-width: $md1+px) {
    padding: 30px 20px 30px 30px;
  }
}
.private-body-content {
  max-width: 305px;
}

.private-body__title {
  font-family: $fontfamily2;
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 0px 30px 0px;
  @media (max-width: $md1+px) {
    font-size: 35px;
    margin: 0px 0px 20px 0px;
  }
}
.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin: 0px 0px 50px 0px;
  @media (max-width: $md1+px) {
    margin: 0px 0px 30px 0px;
  }
}
.private-body-buttons {
  @include flexbox();
  align-items: center;
}
// .private-body-buttons__item {
// }
.private-body-buttons__link {
  font-family: Bebas;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  margin: 0px 0px 0px 15px;
  letter-spacing: 1.5px;
}
//</ПЕРВЫЙ БЛОК(private)>==============================================================

//<ВТОРОЙ БЛОК(products)>===============================================================
.products {
  // отступ перед след блоком поделен пополам. вторая часть в products__column
  margin: 0px 0px 40px 0px;
  @media (max-width: $md2+px) {
    margin: 0;
  }
}
.products-body {
  @include flexbox();
  @media (max-width: $md2+px) {
    // даёт возможность менять блоки, отлепляет их др от др
    flex-wrap: wrap;
  }
}
.products__column {
  flex: 0 0 25%;
  // отступ перед след блоком. вторая часть в products. так же отступ между внутреними блоками
  margin: 0px 0px 40px 0px;
  @media (max-width: $md2+px) {
    flex: 0 0 50%;
  }
  @media (max-width: 380px) {
    flex: 1 1 100%;
  }
}
// чтоб кнопки не зависили от кол-ва текста и были в одном месте, "приживаем их текстом" к низу. и в .products-item__text - flex: 1 1 auto;
.products-item {
  @include flexbox();
  height: 100%;
  flex-direction: column;
}
// чтоб картинка появилась изза прописаного в классе ibg display:none, пропишем высоту.
// Здесь нижний padding в %, адаптированость по высоте изза равнения на родителя.
// Адаптированость по высоте изза равнения на родителя. Возможность применять картинки с различными размерами. Картинки подстраиваються под размер уже прописаного блока
.products-item__image {
  display: block;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 25px 0px;
  @media (max-width: 380px) {
    margin: 0px 0px 15px 0px;
  }
}
.products-item__title {
  height: 50px;
  overflow: hidden;
  padding: 0px 10px 0px 0px;
  max-width: 185px;
  display: block;
  font-family: $fontfamily2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
  margin: 0px 0px 30px 0px;
  padding: 0px 10px 0px 0px;
  max-width: 185px;
  // ссылкам даем block или inline-block. иначе на них не будет действовать margin
  display: block;
  //для того чтоб не плисал title от количества букв, задаём высоту и скрываем не нужное
  height: 50px;
  overflow: hidden;
  // убираем ограничение в ширине
  @media (max-width: 380px) {
    max-width: none;
    // убираем высоту?
    height: auto;
    overflow: visible;
    margin: 0px 0px 20px 0px;
  }
}
.products-item__text {
  flex: 1 1 auto;
  padding: 0px 10px 0px 0px;
  max-width: 185px;
  font-size: 15px;
  margin: 0px 0px 25px 0px;
  // тоже самое
  // line-height: 1.67;
  line-height: 25px;
  // убираем ограничение в ширине
  @media (max-width: 380px) {
    max-width: none;
    margin: 0px 0px 15px 0px;
  }
}
.products-item__btn {
  margin: 0px 0px 29px 0px;
}
.products-item__link {
  font-family: Bebas;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}
//</ВТОРОЙ БЛОК(products)>============================================================

//<ТРЕТИЙ БЛОК(why)>==================================================================
// .why {
// }
.why-top {
  @include flexbox();
  background-color: #000;
}
.why-top__column {
  flex: 0 0 50%;
  @media (max-width: $md1+px) {
    flex: 1 1 100%;
    &:last-child {
      display: none;
    }
  }
}
.why-top__text {
  color: #fff;
  text-align: right;
  font-family: $fontfamily2;
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 55px 60px 55px 0px;
  @media (max-width: $md1+px) {
    padding: 30px 0px;
    font-size: 40px;
    text-align: center;
  }
  @media (max-width: $md2+px) {
    padding: 20px 0px;
    font-size: 30px;
    text-align: center;
  }
}
.why-top__image {
  height: 100%;
}
.why-body {
  padding: 50px 0px 0px 0px;
  background-color: #ebebeb;
  @media (max-width: $md4+px) {
    padding: 30px 0px 0px 0px;
  }
}
.why-body-row {
  @include flexbox();
  flex-wrap: wrap;
}
.why-body__column {
  flex: 0 0 50%;
  margin: 0px 0px 50px 0px;
  @media (max-width: $md2+px) {
    flex: 1 1 100%;
  }
  @media (max-width: $md4+px) {
    margin: 0px 0px 30px 0px;
  }
}
.why-body-item {
  @include flexbox();
}
.why-body-item__icon {
  @include flexbox();
  background-color: #000;
  justify-content: center;
  align-items: center;
  height: 100px;
  // ширина для flex колонок
  flex: 0 0 100px;
  @media (max-width: $md4+px) {
    height: 80px;
    flex: 0 0 80px;
    padding: 15px;
    img {
      max-width: 100%;
    }
  }
}
.why-body-item-body {
  @include flexbox();
  flex: 1 1 100%;
  padding: 0px 0px 0px 11px;
  flex-direction: column;
}
.why-body-item-body__title {
  flex: 1 1 auto;
  font-family: $fontfamily2;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 25px;
  @media (max-width: $md4+px) {
    font-size: 20px;
  }
}
.why-body-item-body__text {
  font-size: 15px;
  padding: 0px 15px 0px 0px;
  line-height: 25px;
}
//</ТРЕТИЙ БЛОК(why)>=================================================================

//<ЧЕТВЕРТЫЙ БЛОК(contacts)>==========================================================
.contacts {
  padding: 80px 0px 0px 0px;
  @media (max-width: $md2+px) {
    margin: 30px 0px 0px 0px;
  }
}
// .contacts-top {
// }
.contacts__title {
  font-family: $fontfamily2;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0px 0px 30px 0px;
}
.contacts-body {
  @include flexbox();
  flex-wrap: wrap;
}
.contacts-body__column {
  flex: 0 0 50%;
  margin: 0px 0px 20px 0px;
  @media (max-width: $md2+px) {
    flex: 1 1 100%;
  }
}
.contacts-body__item {
  display: inline-block;
  font-size: 15px;
  color: #000;
  padding: 0px 0px 0px 35px;
  line-height: 27px;
}
.contacts-body__item--1 {
  background: url("../../img/contacts/01.png") left no-repeat;
}
.contacts-body__item--2 {
  background: url("../../img/contacts/02.png") left no-repeat;
}
.contacts-body__item--3 {
  background: url("../../img/contacts/03.png") left no-repeat;
}

.contacts-social {
  @include flexbox();
}
.contacts-social__item {
  margin: 0px 30px 0px 0px;
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}
// .contacts-social__item--1 {
// }
// .contacts-social__item--2 {
// }
// .contacts-social__item--3 {
// }
// .contacts-social__item--4 {
// }
.contacts-content {
  @include flexbox();
  background-color: #000;
  @media (max-width: $md2+px) {
    display: block;
  }
}
.contacts-content__column {
  flex: 0 0 50%;
}
.contacts-content__map {
  // background-color: #f00;
  height: 100%;
  @media (max-width: $md2+px) {
    height: 300px;
  }
}
.contacts-content-form {
  padding: 55px 60px;
  @media (max-width: $md2+px) {
    padding: 30px;
  }
}
.contacts-content-form__title {
  font-family: $fontfamily2;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 5px;
  margin: 0px 0px 30px 0px;
}
.contacts-content-form-body {
  max-width: 375px;
  @media (max-width: $md2+px) {
    max-width: none;
  }
}
.contacts-content-form-line {
  margin: 0px 0px 25px 0px;
}
// .input {
// }
// .contacts-content-form-button {
// }
// .contacts-content-form__btn {
// }
// .btn {
// }
// .btn--w {
// }
//</ЧЕТВЕРТЫЙ БЛОК(contacts)>==========================================================

//=====================================================================================

//</ОСНОВНОЙ БЛОК>======================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ ИГОТОВЫХ КЛАССОВ>=================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ ИГОТОВЫХ КЛАССОВ>================================

// /*------------------------------------------------------------------------------*/

//</(style.scss)ФАЙЛ ВСЕХ СТИЛЕЙ (ОБЪЕДИНЕНИЕ) + СДАНДАРТНЫЕ НАСТРОЙКИ>================
